@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background: #DBDBDB
}

/* .completed-radio-button {
  appearance: none;
  background-color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.completed-radion-button:checked {
  background-color: white;
  border-color: green;
}

.completed-radion-button:checked::before{
  content:'';
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */

.completed-radion-button {
  appearance: none; /* Remove the default radio button appearance */
  background-color: #ffffff; /* Set the initial background color */
  border: 2px solid green; /* Set a border */
  border-radius: 50%; /* Make it circular */
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.completed-radion-button:checked {
  background-color: #8660EB; /* Custom color for checked radio */
  border-color: #8660EB; /* Custom border color for checked radio */
}

.completed-radion-button:checked::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff; /* White dot in the center */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}